{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:import/errors",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "import", "react-hooks"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "jest": true
  }
}
